@import 'variable.styl'
body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
.bold
  font-weight 600
.c333
  color $color-text-tit
.c999
  color $color-text-lll
.c666
  color color-text-ll
/* 重置默认样式 */
select
  background transparent
