// 页面颜色
$color-bg-body = #e8e8e8
$color-bg-a-lt = #82d37e
$color-bg-a-tit = #2fae29
$color-bg-g = #919191
$color-bg-c-lt = #eec880
$color-bg-c-tit = #edaa28
$color-bg-d-lt = #81c3f1
$color-bg-d-tit = #2698e7
$color-bg-op-l = #de6262
$color-bg-op-r = #c07dc7

$color-text-tit = #333333
$color-text-date = #999999
$color-text-a = #2fae29
$color-text-l = #ffffff
$color-text-c= #edaa28
$color-text-d = #2698e7
$color-text-ll = #666666
$color-text-lll = #999999
